<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/iron-autogrow-textarea/iron-autogrow-textarea.html">
<link rel="import" href="my-icons.html">
<link rel="import" href="shared-styles.html">

<!-- Añadimos compoenente que viene para en linea inferior para sacar array (    <template is="dom-repeat" items="...)-->

<dom-module id="my-componentenuevocomen">
  <template>
    <style>
      :host {  /* Para referenciar el estilo de mi componente */
        /*display: inline-block;
        background-color: #FF66CC;*/
      }
      :host([hidden]) { display: none; }
      .resto {
        font: 14px Montserrat, sans-serif;
        color: #000000;
        font-style:italic;
        }
        .cajas{
          font: 20px Montserrat, sans-serif;
        }
    </style>
    <div class="cajas">
    <div><label>Texto </label><br>
    <iron-autogrow-textarea rows="6" value="{{texto}}">
    </iron-autogrow-textarea></div>


    <br>
<div><center><button type="button" name="button" on-tap="grabarcomen">&nbsp;&nbsp;&nbsp;&nbsp;Go...&nbsp;&nbsp;&nbsp;&nbsp;</button></center></div>


    </div>
  </template>
    <script>
    var objeto;
      Polymer({
        is: 'my-componentenuevocomen',
        properties: {
              disable:{
              type: Boolean,
              value: false,
              notify: true
            },
            url: {
              type: String,
              value: "https://api.mlab.com/api/1/databases/bootcamp/collections/comentarios"
            },
            apiKey: {
              type: String,
              value: "?apiKey=necrthi2AUYGjJOi_Qr_IUuAQmwmOD8F"
            },
            maximo:{
              type: String,
              value: "&s={'codigo':-1}&l=1&f={'codigo':1}"
            },
            componentsVisibility: {
              type: Boolean,
              value: false,
              notify: true
            },
            posts: {
              type: Array,
              notify: true //Automáticamente refresca cuando cambia algo...(se supone)
            }
          //  hidden: { type: Boolean, value: false, reflectToAttribute: true, notify: true}
        },

        grabarcomen: function() {
          var f=new Date();
          var fechaactual=f.getDate() + "/" + (f.getMonth() +1) + "/" + f.getFullYear();
          var nick=sessionStorage.getItem("usuariologon");
          var peticion = new XMLHttpRequest();
          peticion.open("POST", this.url + this.apiKey, true);
          peticion.setRequestHeader("Content-Type", "application/json");
          peticion.send('{"codigoentrada":"' + cod + '","nick":"' + nick + '", "texto": "' + this.texto + '","fecha": "' + fechaactual + '"}');
          alert("Comentario insertado correctamente con nick "+nick+" y fecha: "+fechaactual);
        }

})
</script>
</dom-module>
