<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="my-icons.html">
<link rel="import" href="shared-styles.html">

<!-- Añadimos compoenente que viene para en linea inferior para sacar array (    <template is="dom-repeat" items="...)-->

<dom-module id="my-componenteposgree">
  <template>
    <style>
      :host {  /* Para referenciar el estilo de mi componente */
        /*display: inline-block;
        background-color: #FF66CC;*/
      }
      :host([hidden]) { display: none; }
      .resto {
        font: 14px Montserrat, sans-serif;
        color: #000000;
        font-style:italic;
        }
        .cajas{
          font: 20px Montserrat, sans-serif;
        }
    </style>
    <div class="cajas">
    <label>Usuario (nick) </label><br>
    <iron-input type="text" value="{{usuario::input}}" required>
      <input placeholder="Introduzca su usuario (nick)">
    </iron-input></div>
    <div><label>Password </label><br>
    <iron-input type="text" value="{{password::input}}" required>
      <input placeholder="Introduzca su contraseña">
    </iron-input></div>
    <br>
<div><center><button type="button" name="button" on-tap="Logarse">&nbsp;&nbsp;&nbsp;&nbsp;Go...&nbsp;&nbsp;&nbsp;&nbsp;</button></center></div>

<br>
    <div class="resto">Si aún no esta dado de alta debe Registrarse pulsando en Nuevo Registro

    </div>
  </template>
    <script>
    var objeto;
      Polymer({
        is: 'my-componenteposgree',
        properties: {
              disable:{
              type: Boolean,
              value: false,
              notify: true
            },
            componentsVisibility: {
              type: Boolean,
              value: false,
              notify: true
            },
            posts: {
              type: Array,
              notify: true //Automáticamente refresca cuando cambia algo...(se supone)
            }
          //  hidden: { type: Boolean, value: false, reflectToAttribute: true, notify: true}
        },

        Logarse: function(e) {
                var peticion = new XMLHttpRequest();
                var URLItem = "http://restapi-blogpol12.7e14.starter-us-west-2.openshiftapps.com/usuarios_sofia";
                var parametro = "?usuario=eq."+this.usuario+"&password=eq."+this.password;
                URLItem = URLItem + parametro;
                peticion.open("GET", URLItem, false);
                peticion.setRequestHeader("Content-Type", "application/json");
                peticion.setRequestHeader("Access-Control-Allow-Origin", "*");
                peticion.setRequestHeader("Authorization","Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoic29maWEifQ.oxOhHAHasU_HRI8Mv9aoGEQTjQNvZtZ2HUWzgaxwlSI");
                peticion.send();
                var valores = JSON.parse(peticion.responseText);
                if( valores.length > 0 ) {
                      //this.hidden=true;
                      sessionStorage.setItem("logon", true);
                      sessionStorage.setItem("usuariologon", this.usuario);
                      window.location.assign("componentemongodb");
                      // logon=true;
                      // usuariologon=this.usuario;
                    }
                  else {
                    alert("Usuario y/o contraseña erroneos o no estas registrado");
                  };
        },
      login: function(e){
        alert(this.email);
       /*var pet_login = new XMLHttpRequest();
       var url = URL_BASE_LOGIN + "?select=usuario,email,nombre,apellidos&&email=eq." + this.email + "&&password=eq." + this.password;
       console.log(url);
       pet_login.open("GET", url, false);
       pet_login.setRequestHeader("Content-Type", "application/json");
       pet_login.setRequestHeader("Accept", "application/vnd.pgrst.object+json");
       pet_login.setRequestHeader("Access-Control-Allow-Origin", "*");
       pet_login.setRequestHeader("Authorization", "Bearer " +TOKEN_limpio);
       console.log(pet_login.responseText);
       console.log(pet_login.status);
       if(pet_login.status == 200) {
         alert("Se ha logeado correctamente");
       } else {
          alert("Usuario o contraseña no válidos. Vuelva a logearse o darse de alta");
       }*/
     }
})
</script>
</dom-module>
